@font-face {
    font-family: 'Ida Narrow';
    src: url('../fonts/Ida Narrow.woff2') format('woff2'),
         url('../fonts/Ida Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ida Narrow', sans-serif;
    background-color: #1a1a1a; /* Gris foncé pour un fond sombre */
    color: #d1d1d1; /* Gris clair pour le texte */
    line-height: 1.8;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 16px; /* Réduction de la taille par défaut */
}

h1, h2, h3 {
    font-family: 'Ida Narrow', sans-serif;
    color: #f5f5f5; /* Blanc cassé pour les titres */
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
}

header {
    width: 100%;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333; /* Arrière-plan gris foncé pour un look classique */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #f0f0f0; /* Blanc doux pour les liens */
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #a8a8a8; /* Gris pour l'hover */
    text-decoration: underline;
}

header h1 {
    font-size: 2.5rem;
    margin: 20px 0 0;
    text-align: center;
}

header h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

footer {
    width: 100%;
    color: #d1d1d1;
    padding: 20px 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    background-color: #2c2c2c; /* Fond gris foncé */
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #d1d1d1;
}

p {
    font-family: 'Ida Narrow', sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    color: #e0e0e0; /* Texte légèrement plus clair */
}

a {
    color: #e0e0e0;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #b3b3b3; /* Gris clair pour les liens survolés */
    font-weight: bold;
}

button {
    font-family: 'Ida Narrow', sans-serif;
    background-color: #555; /* Boutons gris foncé */
    color: white;
    border: 2px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

.button-retour {  
    text-align: center;
    margin-bottom: 20px;
}

button:hover {
    background-color: #777; /* Couleur plus claire en hover */
    border-color: #777;
    transform: translateY(-2px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444; /* Gris foncé pour un bord discret */
    border-radius: 10px;
}

.chapitres {
    display: flex;
    font-size: 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #2e2e2e; /* Gris pour les cartes */
    color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 40px auto;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.card p {
    color: #d1d1d1;
    font-size: 1rem;
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.link-card-grid li {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.link-card-grid li:hover {
    transform: scale(1.05); /* Effet de survol plus doux */
}

.link-card p {
    color: white;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.responsive-picture {
    max-width: 600px;
    margin: 0 auto;
}

video {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #000;
    align-items: center;
}

.responsive-video {
    max-width: 800px;
    margin: 20px auto;
    align-items: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
