---
import WebLayout from "../../layouts/WebLayout.astro"
interface Props {
    title?: string
}
const {
    title = "histoire de france chapitre 7 : La Deuxième République de 1848 à 1852",
} = Astro.props;
---
<WebLayout title={title}>

    <p>
    <br />
        La Deuxième République, qui s’étend de 1848 à 1852, est une période courte mais intense de l’histoire de France, marquée par des tentatives de démocratisation, des réformes sociales et une instabilité politique qui mènera à son renversement par Louis-Napoléon Bonaparte. Fondée dans l’euphorie révolutionnaire de février 1848, cette république est le premier régime français à instaurer le suffrage universel masculin et à adopter des réformes sociales ambitieuses, mais elle est aussi confrontée à des tensions sociales, des affrontements idéologiques et une dérive autoritaire.
    <br />
<br />
        La révolution de février 1848 et la proclamation de la République
    <br />
        La révolution de février 1848 éclate dans un contexte de crise économique, de mécontentement social et de revendications démocratiques face au régime de la monarchie de Juillet. Les manifestants parisiens, en colère contre l’interdiction des banquets républicains et le gouvernement conservateur de François Guizot, érigent des barricades dans les rues de Paris. Après des affrontements sanglants, Louis-Philippe abdique le 24 février 1848. Le roi s’exile en Angleterre, et la monarchie de Juillet s'effondre.
        Le même jour, la Deuxième République est proclamée à l’Hôtel de Ville de Paris. Un gouvernement provisoire, composé de républicains modérés et de radicaux, est formé sous l’influence de figures comme Alphonse de Lamartine, Alexandre Ledru-Rollin et Louis Blanc. Ce gouvernement s’engage à réaliser des réformes démocratiques et sociales pour répondre aux attentes des classes populaires et des républicains.
        <br />
    <br />
        Les réformes démocratiques et sociales du gouvernement provisoire
    <br />
        La Deuxième République est proclamée à l’Hôtel de Ville de Paris. Un gouvernement provisoire, composé de républicains modérés et de radicaux, est formé sous l’influence de figures comme Alphonse de Lamartine, Alexandre Ledru-Rollin et Louis Blanc. Ce gouvernement s’engage à réaliser des réformes démocratiques et sociales pour répondre aux attentes des classes populaires et des républicains.
        La Deuxième République se distingue dès ses débuts par l’adoption de réformes progressistes et démocratiques. L’une des premières mesures du gouvernement provisoire est l’instauration du suffrage universel masculin le 2 mars 1848, qui accorde le droit de vote à tous les hommes de plus de 21 ans, sans condition de fortune. Cela marque un tournant majeur dans l’histoire politique française, car c’est la première fois que le suffrage est véritablement démocratique.
        Le gouvernement s’engage également dans des réformes sociales pour répondre aux revendications des ouvriers et artisans. Sous l’impulsion de Louis Blanc, un socialiste influent, il crée les Ateliers nationaux, des structures publiques destinées à fournir du travail aux chômeurs. Cette initiative, bien que novatrice, s’avère difficile à gérer financièrement et est critiquée par les républicains modérés et les conservateurs.
        La République abolit également l’esclavage dans les colonies françaises en avril 1848, grâce aux efforts de Victor Schœlcher, une autre mesure importante qui marque une avancée humanitaire majeure.
    <br />
<br />
        Les tensions sociales et la révolution de juin 1848
    <br />
        Malgré les réformes, les tensions sociales persistent. Les Ateliers nationaux, qui coûtent cher à l’État et sont mal organisés, deviennent un point de discorde. En juin 1848, le gouvernement provisoire décide de les fermer, ce qui provoque la colère des ouvriers parisiens, déjà frappés par la crise économique. Les journées de Juin (23-26 juin 1848) voient des révoltes massives éclater à Paris. Les ouvriers, sentant que leurs espoirs de justice sociale sont trahis, dressent des barricades et prennent les armes contre le gouvernement.
        La répression de l’insurrection est brutale. Le général Louis-Eugène Cavaignac, nommé à la tête des forces républicaines, écrase la révolte dans un bain de sang. Près de 4 000 insurgés sont tués, et des milliers d’autres sont arrêtés ou déportés. Cette répression laisse des cicatrices profondes au sein de la classe ouvrière et divise la République entre les républicains modérés et conservateurs d’un côté, et les socialistes et ouvriers de l’autre.
    <br />
    <br />
        La constitution de 1848 et l’élection de Louis-Napoléon Bonaparte
    <br />
        Après les événements de juin, une Assemblée constituante rédige une nouvelle constitution pour la Deuxième République, qui est adoptée en novembre 1848. Cette constitution instaure un régime présidentiel, avec un président de la République élu pour quatre ans au suffrage universel direct. Le président dispose de pouvoirs exécutifs importants, tandis que le législatif est exercé par une Assemblée unique.
        L’élection présidentielle de décembre 1848 devient un enjeu clé pour l’avenir du régime. Parmi les candidats, Louis-Napoléon Bonaparte, neveu de Napoléon Ier, se présente comme le candidat du parti de l’ordre, soutenu par les conservateurs et les monarchistes. Grâce à la popularité de son nom, à son habile campagne électorale et au soutien des paysans, il remporte une victoire écrasante avec près de 75 % des voix, battant des figures républicaines comme Lamartine et Cavaignac.
        Louis-Napoléon Bonaparte devient le premier président de la République française en décembre 1848. Bien que son discours soit en apparence conciliant, il nourrit des ambitions plus larges et prépare secrètement son ascension au pouvoir absolu.
    <br />
    <br />
        Le conflit entre l’exécutif et l’Assemblée (1849 - 1851)
    <br />
        Durant son mandat, Louis-Napoléon entre rapidement en conflit avec l’Assemblée législative, dominée par les républicains et les conservateurs. Bien que ces derniers soient initialement favorables à un renforcement de l’ordre et à la limitation des libertés, notamment à travers la loi Falloux (1850), qui renforce l’influence de l’Église catholique dans l’éducation, ils se méfient de Louis-Napoléon.
        En 1850, Louis-Napoléon et son entourage cherchent à prolonger son mandat présidentiel, qui doit normalement se terminer en 1852. Cependant, l’Assemblée refuse de modifier la constitution pour permettre sa réélection, et les tensions s’intensifient.
        En 1851, Louis-Napoléon décide de contourner la Constitution en convoquant une assemblée constituante pour modifier la constitution. Cette décision provoque une vive réaction, et les républicains et les conservateurs s’unissent pour lutter contre le coup d’État.
    <br />
<br />
        Le coup d’État de 1851 et la fin de la Deuxième République
        <br />
        Face à l’impasse constitutionnelle, Louis-Napoléon Bonaparte prépare un coup d’État. Le 2 décembre 1851, il dissout l’Assemblée nationale, suspend la constitution et instaure un régime autoritaire. Ce coup d’État s’accompagne de la répression des opposants républicains et de l’arrestation de nombreux députés et figures politiques. Les républicains tentent de s’organiser et de résister, mais leurs soulèvements, notamment dans le sud de la France, sont rapidement écrasés.
        En 1852, un plébiscite approuve massivement le coup d’État et Louis-Napoléon est confirmé comme chef de l’État avec des pouvoirs étendus. Le 2 décembre 1852, exactement un an après son coup d’État, il se proclame empereur sous le nom de Napoléon III, marquant la fin de la Deuxième République et le début du Second Empire.
    <br />
    <br />
        Conclusion
    <br />
        La Deuxième République (1848-1852) est une expérience brève mais intense dans l’histoire de France. Fondée sur les idéaux de liberté et de justice sociale, elle est rapidement confrontée à des conflits de classe et à des divisions politiques qui affaiblissent ses fondements. Le suffrage universel masculin, l’abolition de l’esclavage et d’autres réformes sont des avancées importantes, mais les tensions sociales et la montée des ambitions de Louis-Napoléon Bonaparte conduisent à son effondrement. Le coup d’État de 1851 marque la fin de cette tentative républicaine et ouvre une nouvelle ère de pouvoir autoritaire sous le Second Empire.
    </p>

    <div class="button-retour">
    <a href="/histoire-france">Retour</a>
    </div>


</Weblayout>


