---
import WebLayout from '../layouts/WebLayout.astro';
import Card from '../components/Card.astro';
---

<WebLayout>
	

		<p class="instructions">
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/histoire-france"
				title="Histoire de France"
				body="Depuis la Gaule jusqu'à Aujourd'hui."
			/>
			<Card
				href="/histoire-internet"
				title="Histoire d'Internet"
				body="Sa création et ce que cela a engendrer ."
			/>
			
		</ul>

</WebLayout>

