---
import WebHeader from '../components/Web-Header.astro';
import WebFooter from '../components/Web-Footer.astro';
import '../styles/styles.scss';
---
    <!DOCTYPE html>
    <html lang = fr>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/Assets/histoire.ico">    
    </head>
    <body>
    
        <WebHeader />
       
        <slot />

       <WebFooter />

    </body>
    </html> 