---
import WebHeader from '../components/Web-Header.astro';
import WebFooter from '../components/Web-Footer.astro';
import '../styles/styles.scss';
   
   interface WebLayoutProps {
        langage?: string;
        title?: string;
        card?: string;
    }

    const {
        langage="fr", 
        title = "Hisotire",
        card = "card",
        } = Astro.props;
---
    <!DOCTYPE html>
    <html lang={langage}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
    </head>
    <body>
    
        <WebHeader header={title} />
       
        <slot />

       <WebFooter footer="Copyright © 2024 - Tous droits réservés." />

    </body>
    </html>